/* Component classes */
body {
  @apply bg-maroon-900;
}

hr {
  height: 1px;
  @apply bg-gray-200;
  display: block;
  border-style: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}

/* purgecss start ignore */
.mc-modal {
  z-index: 0 !important;
}
/* purgecss end ignore */
